        /* General Styles - Start */
        
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            font-family: 'Lato', sans-serif;
        }
        /* H Style span       */
        
        span {
            color: yellow;
            font-weight: 400;
        }
        
        h1 {
            margin-left: 10px;
        }
        
        h2 {
            font-family: 'Faster One', cursive;
            margin: 0px;
            text-align: center;
        }
        
        .gradient {
            width: 100%;
            height: 50px;
            background: linear-gradient(to bottom, black 0%, white 100%);
        }
        
        .gradient2 {
            width: 100%;
            height: 50px;
            background: linear-gradient(to top, black 0%, white 100%);
        }
        /*Style Klasa col-1-2*/
        
        .col-1-2 {
            width: 50%;
            float: left;
            margin: 0;
        }
        
        section {
            overflow: auto;
            padding: 0px;
        }
        
        p {
            line-height: 1.5em;
        }
        
        .row p {
            color: #fff;
        }
        /*moje menu glowne */
        
        #main-nav {
            position: fixed;
            background-color: transparent;
            width: 100%;
            z-index: 10;
        }
        
        #main-nav ul {
            text-align: right;
        }
        
        #main-nav ul .menu-item {
            display: inline-block;
            padding: 25px;
        }
        
        #main-nav ul a {
            color: #fff;
            transition: all .3s;
        }
        
        #main-nav ul a:hover {
            color: yellow;
        }
        
        #main-nav.scroll {
            background-color: black;
        }
        
        #main-nav.scroll ul .menu-item a {
            color: black;
        }
        
        #main-nav.scroll ul .menu-item a:hover {
            color: yellow;
        }
        /*Menu glowne stop*/
        /* Naglowek Start */
        
        #main-header {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../img/header.jpg);
            background-position: center;
            height: 100vh;
            background-size: cover;
            position: relative;
        }
        
        #main-header .header-caption {
            position: absolute;
            top: 20%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            left: 10px;
            color: #fff;
        }
        
        #main-header .header-caption h1 {
            font-family: 'Faster One', cursive;
            font-size: 5em;
            font-weight: 300;
        }
        
        #main-header .header-caption h2 {
            font-size: 4em;
            font-weight: 300;
        }
        /* Naglowek stop */
        
        h2 {
            font-family: 'Roboto Mono', monospace;
            text-align: center;
        }
        
        .jumbotron {
            position: absolute;
            top: 10%;
            right: 5%;
            color: #fff;
            background-color: transparent;
            font-family: font-family: 'Roboto Mono', monospace;
            border-radius: 2px;
        }
        
        .jumbotron >h1 {
            font-family: font-family: 'Roboto Mono', monospace;
        }
        /*ABOUT SECTION Style Start*/
        
        #about {
            background-color: black;
            margin: 0px;
        }
        
        #about #img-class-center {
            text-align: center;
        }
        
        #h2-background {
            width: 100%;
            background-color: white;
        }
        
        #about .about-img {
            width: 30%;
            margin: 0;
            text-align: center;
        }
        
        #about figure .about-img {
            max-width: 60%;
            border: 10px;
            text-align: center;
            margin: 0px;
            transition: all 2s;
        }
        
        #about .about-img:hover {
            transition: 1s;
            transform: rotate(960deg);
        }
        
        #icons-about .fa {
            background-color: white;
            border: 1px solid #fff;
            height: 50px;
            width: 50px;
            margin-right: 10px;
            margin-top: 10px;
            text-align: center;
            line-height: 50px;
            overflow: hidden;
            border-radius: 100px;
            transition: 1s;
            color: black;
        }
        
        #icons-about .fa:hover {
            color: #fff;
            background-color: black;
            transition: 1s;
            transform: rotate(360deg);
        }
        /* Skills Umiejetnosci Start style */
        
        #skils p {
            text-align: center;
        }
        
        #skils .skils-icons {
            text-align: center;
            margin-top: 20px;
        }
        
        #skils .skils-icons figure {
            display: inline-block;
            margin: 20px;
            transition: 1s;
        }
        
        #skils .skils-icons figure:hover {
            transform: rotate(360deg);
        }
        
        #skils #skils-icons figure figcaption {
            margin-top: 10px;
        }
        
        .parallax {
            position: relative;
            /* The image used */
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/subaru.jpg);
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            color: aliceblue;
        }
        
        .parralax-info {
            text-shadow: 1px 1px 1px red;
            border: 2px solid #fff;
            width: 50%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: linear-gradient(rgba(1, 0, 0, 3), rgba(1, 0, 0, 0.3));
            transform: translate(-50%, -50%);
        }
        
        .parralax-info h3,
        i {
            text-shadow: 1px 1px 1px black;
        }
        
        .parralax-info p {
            padding: 20px;
            font-size: 1.3em;
        }
        
        #promotion1 {
            width: 20%;
            
        }

#btn-alert{
    width: 30%;
    height: 40px;
    background-color: red;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

#div1{
    display: none;
}

input[type="text"],input[type="mailto"]{
    background-color: transparent;
    margin:5px;
}

input[type="submit"]{margin: 20px;
    width: 25%;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    color: #fff;
}
        
        .parallax-text {
            height: 50px;
            background-color: #fff;
        }
        /*Skils umiejetnosci end*/
        /* Portfolio section style start */
        
        #portfolio .portfolio-items {
            font-size: 0;
            text-align: center;
        }
        
        #portfolio .portfolio-items [class*="col-"] {
            padding: 0;
        }
        
        #portfolio .portfolio-item {
            height: 350px;
            font-size: initial;
            background-position: center;
            background-size: cover;
            position: relative;
            color: #fff;
        }
        
        #portfolio .portfolio-item .portfolio-mask {
            background-color: rgba(255, 0, 255, 0.2);
            height: 100%;
            opacity: 0;
            position: absolute;
            width: 100%;
            transition: all .3s;
        }
        
        #portfolio .portfolio-item .portfolio-mask:hover {
            opacity: 1;
        }
        
        #portfolio .portfolio-item .portfolio-mask .portfolio-content {
            border: 1px solid #fff;
            height: 95%;
            width: 95%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
        }
        
        #portfolio .portfolio-item .portfolio-mask .portfolio-content .portfolio-content-inner {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px;
        }
        
        #portfolio .portfolio-item .portfolio-mask .portfolio-content .portfolio-content-inner a {
            color: #fff;
            transition: all .3s;
        }
        
        #portfolio .portfolio-item .portfolio-mask .portfolio-content .portfolio-content-inner a:hover {
            color: lawngreen;
        }
        
        #portfolio-item-1 {
            background-image: url(../img/fryzury-psie1.jpg);
        }
        
        #portfolio-item-2 {
            background-image: url(../img/psiafryzura.jpg);
        }
        
        #portfolio-item-3 {
            background-image: url(../img/stylizacje-psa-nowy-wisnicz.jpg);
        }
        
        #skils {
            width: 100%;
            display: inline-block margin: 0;
        }
        /* contakt style*/
        
        #contact {
            background-color: black;
            color: #fff;
        }
        
        #contact h2 {
            text-align: left;
        }
        
        #contact adress {
            font-style: normal
        }
        
        #contact adress a {
            color: #1ac056;
            transition: all .3s
        }
        
        #contact adress a:hover {
            color;
            #fff;
        }
        
        #contact .social-icons {
            margin top: 30px;
        }
        
        #contact .social-icons a {
            color: #fff;
            border: 1px solid #fff;
            display: inline-block;
            height: 50px;
            width: 50px;
            margin-right: 10px;
            margin-top: 10px;
            text-align: center;
            line-height: 50px;
            font-size: 1em;
            transition: 1s;
        }
        
        #contact .social-icons a:hover {
            color: black;
            background-color: yellow;
        }
        /* form style*/
        
        #contact form input:not([type='submit']),
        #contact form textarea {
            width: 100%;
            background-color: #2b4a64;
            border: 0px solid #fff;
            padding: 10px;
            margin-bottom: 15px;
        }
        
        #contact form input:not([type='submit']):focus,
        #contact form textarea:focus {
            background-color: #4c6f8d;
        }
        
        #contact form input[type='submit'] {
            background-color: #1ac056;
            padding: 15px;
            text-transform: uppercase;
            color: #fff;
            border: 0px solid #fff;
            cursor: pointer;
            float: right;
            transition: all .3s;
        }
        
        #contact form input[type='submit']:hover {
            background-color: #fff;
            color: #1ac056;
        }
        
        #maps {
            overflow: hidden;
        }
        
        #maps iframe {
            border: 2px solid black;
            max-width: 380px;
        }
        
        footer {
            background-color: #142634;
            padding 0 60px;
            color: #fff;
        }
        
        footer p {
            margin: 0;
        }